<% if (comments = commentable.comments.order(:id).includes(:user).presence) %>
  <ul>
    <% comments.each do |comment| %>
      <li id="<%= dom_id(comment) %>">
        <%= comment.content %>
        <small>
          (<%= link_to comment.user.name_or_email, comment.user %> - <%= l comment.created_at, format: :short %>)
          <% if comment.user == current_user %>
            <%= button_to t('.delete'), [comment], method: :delete, data: { turbo_confirm: t('views.common.delete_confirm') } %>
          <% end %>
        </small>
      </li>
    <% end %>
  </ul>
<% else %>
  (<%= t('.no_comments') %>)
<% end %>
